CareerCloud.UnitTests.Assignment5/Connected Services/SecurityService/CareerCloud.Pocos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSecurityLoginPoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityLoginPoco" nillable="true" type="tns:SecurityLoginPoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityLoginPoco" nillable="true" type="tns:ArrayOfSecurityLoginPoco" />
  <xs:complexType name="SecurityLoginPoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementAccepted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForceChangePassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsInactive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrefferredLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityLoginPoco" nillable="true" type="tns:SecurityLoginPoco" />
  <xs:complexType name="ArrayOfSecurityLoginsLogPoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityLoginsLogPoco" nillable="true" type="tns:SecurityLoginsLogPoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityLoginsLogPoco" nillable="true" type="tns:ArrayOfSecurityLoginsLogPoco" />
  <xs:complexType name="SecurityLoginsLogPoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsSuccesful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" type="ser:guid" />
      <xs:element minOccurs="0" name="LogonDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SourceIP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityLoginsLogPoco" nillable="true" type="tns:SecurityLoginsLogPoco" />
  <xs:complexType name="ArrayOfSecurityLoginsRolePoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityLoginsRolePoco" nillable="true" type="tns:SecurityLoginsRolePoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityLoginsRolePoco" nillable="true" type="tns:ArrayOfSecurityLoginsRolePoco" />
  <xs:complexType name="SecurityLoginsRolePoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Login" type="ser:guid" />
      <xs:element minOccurs="0" name="Role" type="ser:guid" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityLoginsRolePoco" nillable="true" type="tns:SecurityLoginsRolePoco" />
  <xs:complexType name="ArrayOfSecurityRolePoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityRolePoco" nillable="true" type="tns:SecurityRolePoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityRolePoco" nillable="true" type="tns:ArrayOfSecurityRolePoco" />
  <xs:complexType name="SecurityRolePoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsInactive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityRolePoco" nillable="true" type="tns:SecurityRolePoco" />
</xs:schema>