CareerCloud.UnitTests.Assignment5/Connected Services/CompanyService/CareerCloud.Pocos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCompanyDescriptionPoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyDescriptionPoco" nillable="true" type="tns:CompanyDescriptionPoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyDescriptionPoco" nillable="true" type="tns:ArrayOfCompanyDescriptionPoco" />
  <xs:complexType name="CompanyDescriptionPoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" type="ser:guid" />
      <xs:element minOccurs="0" name="CompanyDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LanguageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyDescriptionPoco" nillable="true" type="tns:CompanyDescriptionPoco" />
  <xs:complexType name="ArrayOfCompanyJobDescriptionPoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyJobDescriptionPoco" nillable="true" type="tns:CompanyJobDescriptionPoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyJobDescriptionPoco" nillable="true" type="tns:ArrayOfCompanyJobDescriptionPoco" />
  <xs:complexType name="CompanyJobDescriptionPoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Job" type="ser:guid" />
      <xs:element minOccurs="0" name="JobDescriptions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyJobDescriptionPoco" nillable="true" type="tns:CompanyJobDescriptionPoco" />
  <xs:complexType name="ArrayOfCompanyJobEducationPoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyJobEducationPoco" nillable="true" type="tns:CompanyJobEducationPoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyJobEducationPoco" nillable="true" type="tns:ArrayOfCompanyJobEducationPoco" />
  <xs:complexType name="CompanyJobEducationPoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Importance" type="xs:short" />
      <xs:element minOccurs="0" name="Job" type="ser:guid" />
      <xs:element minOccurs="0" name="Major" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyJobEducationPoco" nillable="true" type="tns:CompanyJobEducationPoco" />
  <xs:complexType name="ArrayOfCompanyJobPoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyJobPoco" nillable="true" type="tns:CompanyJobPoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyJobPoco" nillable="true" type="tns:ArrayOfCompanyJobPoco" />
  <xs:complexType name="CompanyJobPoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsCompanyHidden" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInactive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProfileCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyJobPoco" nillable="true" type="tns:CompanyJobPoco" />
  <xs:complexType name="ArrayOfCompanyJobSkillPoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyJobSkillPoco" nillable="true" type="tns:CompanyJobSkillPoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyJobSkillPoco" nillable="true" type="tns:ArrayOfCompanyJobSkillPoco" />
  <xs:complexType name="CompanyJobSkillPoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Importance" type="xs:int" />
      <xs:element minOccurs="0" name="Job" type="ser:guid" />
      <xs:element minOccurs="0" name="Skill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkillLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyJobSkillPoco" nillable="true" type="tns:CompanyJobSkillPoco" />
  <xs:complexType name="ArrayOfCompanyLocationPoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyLocationPoco" nillable="true" type="tns:CompanyLocationPoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyLocationPoco" nillable="true" type="tns:ArrayOfCompanyLocationPoco" />
  <xs:complexType name="CompanyLocationPoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" type="ser:guid" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyLocationPoco" nillable="true" type="tns:CompanyLocationPoco" />
  <xs:complexType name="ArrayOfCompanyProfilePoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyProfilePoco" nillable="true" type="tns:CompanyProfilePoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyProfilePoco" nillable="true" type="tns:ArrayOfCompanyProfilePoco" />
  <xs:complexType name="CompanyProfilePoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyLogo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CompanyWebsite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyProfilePoco" nillable="true" type="tns:CompanyProfilePoco" />
</xs:schema>