CareerCloud.UnitTests.Assignment5/Connected Services/SystemService/CareerCloud.Pocos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSystemCountryCodePoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemCountryCodePoco" nillable="true" type="tns:SystemCountryCodePoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemCountryCodePoco" nillable="true" type="tns:ArrayOfSystemCountryCodePoco" />
  <xs:complexType name="SystemCountryCodePoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemCountryCodePoco" nillable="true" type="tns:SystemCountryCodePoco" />
  <xs:complexType name="ArrayOfSystemLanguageCodePoco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemLanguageCodePoco" nillable="true" type="tns:SystemLanguageCodePoco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemLanguageCodePoco" nillable="true" type="tns:ArrayOfSystemLanguageCodePoco" />
  <xs:complexType name="SystemLanguageCodePoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="LanguageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NativeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemLanguageCodePoco" nillable="true" type="tns:SystemLanguageCodePoco" />
</xs:schema>